    font-size: 16px;
    -webkit-tap-highlight-color: transparent;
    --osano-clear-dialog-background: rgba(24, 13, 67, 0);
    --osano-button-border-color: #fff;
    --osano-dialog-type: bar;
    --osano-display-position: bottom;
    --osano-info-dialog-position: left;
    --osano-widget-position: left;
    --osano-opt-out-widget-position: left;
    --osano-button-background-color: #000000;
    --osano-button-foreground-color: #ffffff;
    --osano-dialog-background-color: #e1e1e1;
    --osano-dialog-foreground-color: #404040;
    --osano-info-dialog-overlay-color: rgba(0, 0, 0, 0.45);
    --osano-link-color: #37CD8F;
    --osano-toggle-off-track-color: #a3a3a3;
    --osano-toggle-off-thumb-color: #FFFFFF;
    --osano-toggle-on-track-color: #37CD8F;
    --osano-toggle-on-thumb-color: #758e6d;
    --osano-widget-color: #37cd8f;
    --osano-widget-outline-color: #29246a;
    --osano-widget-fill-color: #fff;
    --osano-button-close-color: var(--osano-dialog-foreground-color);
    --osano-button-accept-background-color: var(--osano-button-background-color);
    --osano-button-accept-border-color: var(--osano-button-border-color, var(--osano-button-foreground-color));
    --osano-button-accept-foreground-color: var(--osano-button-foreground-color);
    --osano-button-deny-background-color: #a3a3a3;
    --osano-button-deny-border-color: var(--osano-button-border-color, var(--osano-button-foreground-color));
    --osano-button-deny-foreground-color: #ffffff;
    --osano-button-reject-all-background-color: var(--osano-button-background-color);
    --osano-button-reject-all-background-color-hover: var(--osano-button-background-color-hover, var(--osano-button-background-color-contrast));
    --osano-button-reject-all-border-color: var(--osano-button-border-color, var(--osano-button-foreground-color));
    --osano-button-reject-all-foreground-color: var(--osano-button-foreground-color);
    --osano-button-manage-background-color: var(--osano-button-background-color);
    --osano-button-manage-border-color: var(--osano-button-border-color, var(--osano-button-foreground-color));
    --osano-button-manage-foreground-color: var(--osano-button-foreground-color);
    --osano-info-dialog-link-color: var(--osano-link-color);
    --osano-info-dialog-button-close-color: var(--osano-info-dialog-foreground-color, var(--osano-dialog-foreground-color));
    --osano-info-dialog-toggle-off-track-color: var(--osano-toggle-off-track-color);
    --osano-info-dialog-toggle-off-thumb-color: var(--osano-toggle-off-thumb-color);
    --osano-info-dialog-toggle-on-track-color: var(--osano-toggle-on-track-color);
    --osano-info-dialog-toggle-on-thumb-color: var(--osano-toggle-on-thumb-color);
    --osano-info-dialog-button-background-color: var(--osano-button-background-color);
    --osano-info-dialog-button-border-color: var(--osano-info-dialog-button-foreground-color, var(--osano-button-foreground-color));
    --osano-info-dialog-button-foreground-color: var(--osano-button-foreground-color);
    --osano-dialog-gpc-background-color: var(--osano-dialog-background-color);
    --osano-dialog-gpc-border-color: var(--osano-dialog-foreground-color);
    --osano-dialog-gpc-foreground-color: var(--osano-dialog-foreground-color);
    --osano-dialog-gpc-color: #37cd84;
    --osano-info-dialog-gpc-background-color: var(--osano-info-dialog-background-color, var(--osano-dialog-background-color));
    --osano-info-dialog-gpc-border-color: var(--osano-info-dialog-foreground-color, var(--osano-dialog-foreground-color));
    --osano-info-dialog-gpc-foreground-color: var(--osano-info-dialog-foreground-color, var(--osano-dialog-foreground-color));
    --osano-info-dialog-gpc-color: var(--osano-dialog-gpc-color);
    --osano-gpc-background-color: #ffffff;
    --osano-gpc-border-color: #058a5e;
    --osano-gpc-foreground-color: #058a5e;
    --osano-gpc-color: #37cd84;
    --osano-gpc-background-color-hover: #ffffff;
    --osano-info-dialog-background-color: #180D43;
    --osano-info-dialog-foreground-color: #FFFFFF;
    --osano-toggle-off-background-color: #d2cfff;
    --osano-toggle-button-off-color: #ffffff;
    --osano-toggle-on-background-color: #37cd8f;
    --osano-toggle-button-on-color: #f4f4f4;
    --osano-button-background-color-contrast: #141414;
    --osano-button-foreground-color-contrast: #ebebeb;
    --osano-button-deny-background-color-contrast: #8f8f8f;
    --osano-button-deny-foreground-color-contrast: #ebebeb;
    --osano-dialog-background-color-contrast: #cdcdcd;
    --osano-dialog-foreground-color-contrast: #545454;
    --osano-link-color-contrast: #23b97b;
    --osano-toggle-off-track-color-contrast: #8f8f8f;
    --osano-toggle-off-track-color-disabled: #636363;
    --osano-toggle-off-thumb-color-contrast: #ebebeb;
    --osano-toggle-off-thumb-color-disabled: #bfbfbf;
    --osano-toggle-on-track-color-contrast: #23b97b;
    --osano-toggle-on-track-color-disabled: #008d4f;
    --osano-toggle-on-thumb-color-contrast: #617a59;
    --osano-toggle-on-thumb-color-disabled: #354e2d;
    --osano-gpc-background-color-contrast: #ebebeb;
    --osano-button-background-color-hover: var(--osano-button-background-color-contrast, #141414);
    --osano-button-foreground-color-hover: var(--osano-button-foreground-color-contrast, #ebebeb);
    --osano-button-background-color-focus: var(--osano-button-foreground-color-hover, var(--osano-button-foreground-color-contrast));
    --osano-button-foreground-color-focus: var(--osano-button-background-color-hover, var(--osano-button-background-color-contrast));
    --osano-toggle-off-track-color-hover: var(--osano-toggle-off-track-color-contrast, #8f8f8f);
    --osano-toggle-off-thumb-color-hover: var(--osano-toggle-off-thumb-color-contrast, #ebebeb);
    --osano-toggle-off-track-color-focus: var(--osano-toggle-off-thumb-color-hover, var(--osano-toggle-off-thumb-color-contrast));
    --osano-toggle-off-thumb-color-focus: var(--osano-toggle-off-track-color-hover, var(--osano-toggle-off-track-color-contrast));
    --osano-toggle-on-track-color-hover: var(--osano-toggle-on-track-color-contrast, #23b97b);
    --osano-toggle-on-thumb-color-hover: var(--osano-toggle-on-thumb-color-contrast, #617a59);
    --osano-toggle-on-track-color-focus: var(--osano-toggle-on-thumb-color-hover, var(--osano-toggle-on-thumb-color-contrast));
    --osano-toggle-on-thumb-color-focus: var(--osano-toggle-on-track-color-hover, var(--osano-toggle-on-track-color-contrast));
    --osano-button-accept-background-color-contrast: var(--osano-button-background-color-contrast, #141414);
    --osano-button-accept-foreground-color-contrast: var(--osano-button-foreground-color-contrast, #ebebeb);
    --osano-button-accept-background-color-hover: var(--osano-button-background-color-hover, var(--osano-button-background-color-contrast));
    --osano-button-accept-foreground-color-hover: var(--osano-button-accept-foreground-color-contrast, var(--osano-button-foreground-color-contrast));
    --osano-button-accept-background-color-focus: var(--osano-button-accept-foreground-color-hover, var(--osano-button-accept-foreground-color-contrast));
    --osano-button-accept-foreground-color-focus: var(--osano-button-accept-background-color-hover, var(--osano-button-background-color-hover));
    --osano-button-deny-background-color-hover: var(--osano-button-background-color-hover, var(--osano-button-background-color-contrast));
    --osano-button-deny-foreground-color-hover: var(--osano-button-deny-foreground-color-contrast, #ebebeb);
    --osano-button-deny-background-color-focus: var(--osano-button-deny-foreground-color-hover, var(--osano-button-deny-foreground-color-contrast));
    --osano-button-deny-foreground-color-focus: var(--osano-button-deny-background-color-hover, var(--osano-button-background-color-hover));
    --osano-button-reject-all-background-color-contrast: var(--osano-button-background-color-contrast, #141414);
    --osano-button-reject-all-foreground-color-contrast: var(--osano-button-foreground-color-contrast, #ebebeb);
    --osano-button-reject-all-foreground-color-hover: var(--osano-button-reject-all-foreground-color-contrast, var(--osano-button-foreground-color-contrast));
    --osano-button-reject-all-background-color-focus: var(--osano-button-reject-all-foreground-color-hover, var(--osano-button-reject-all-foreground-color-contrast));
    --osano-button-reject-all-foreground-color-focus: var(--osano-button-reject-all-background-color-hover, var(--osano-button-background-color-hover));
    --osano-button-manage-background-color-contrast: var(--osano-button-background-color-contrast, #141414);
    --osano-button-manage-foreground-color-contrast: var(--osano-button-foreground-color-contrast, #ebebeb);
    --osano-button-manage-background-color-hover: var(--osano-button-background-color-hover, var(--osano-button-background-color-contrast));
    --osano-button-manage-foreground-color-hover: var(--osano-button-manage-foreground-color-contrast, var(--osano-button-foreground-color-contrast));
    --osano-button-manage-background-color-focus: var(--osano-button-manage-foreground-color-hover, var(--osano-button-manage-foreground-color-contrast));
    --osano-button-manage-foreground-color-focus: var(--osano-button-manage-background-color-hover, var(--osano-button-background-color-hover));
    --osano-info-dialog-button-background-color-contrast: var(--osano-button-background-color-contrast, #141414);
    --osano-info-dialog-button-foreground-color-contrast: var(--osano-button-foreground-color-contrast, #ebebeb);
    --osano-info-dialog-button-background-color-hover: var(--osano-button-background-color-hover, var(--osano-button-background-color-contrast));
    --osano-info-dialog-button-foreground-color-hover: var(--osano-info-dialog-button-foreground-color-contrast, var(--osano-button-foreground-color-contrast));
    --osano-info-dialog-button-background-color-focus: var(--osano-info-dialog-button-foreground-color-hover, var(--osano-info-dialog-button-foreground-color-contrast));
    --osano-info-dialog-button-foreground-color-focus: var(--osano-info-dialog-button-background-color-hover, var(--osano-button-background-color-hover));
    --osano-info-dialog-toggle-off-track-color-contrast: var(--osano-toggle-off-track-color-contrast, #8f8f8f);
    --osano-info-dialog-toggle-off-thumb-color-contrast: var(--osano-toggle-off-thumb-color-contrast, #ebebeb);
    --osano-info-dialog-toggle-off-track-color-hover: var(--osano-info-dialog-toggle-off-track-color-contrast, var(--osano-toggle-off-track-color-contrast));
    --osano-info-dialog-toggle-off-thumb-color-hover: var(--osano-info-dialog-toggle-off-thumb-color-contrast, var(--osano-toggle-off-thumb-color-contrast));
    --osano-info-dialog-toggle-off-track-color-focus: var(--osano-info-dialog-toggle-off-thumb-color-hover, var(--osano-info-dialog-toggle-off-thumb-color-contrast));
    --osano-info-dialog-toggle-off-thumb-color-focus: var(--osano-info-dialog-toggle-off-track-color-hover, var(--osano-info-dialog-toggle-off-track-color-contrast));
    --osano-info-dialog-toggle-off-track-color-disabled: var(--osano-toggle-off-track-color-disabled, #636363);
    --osano-info-dialog-toggle-off-thumb-color-disabled: var(--osano-toggle-off-thumb-color-disabled, #bfbfbf);
    --osano-info-dialog-toggle-on-track-color-contrast: var(--osano-toggle-on-track-color-contrast, #23b97b);
    --osano-info-dialog-toggle-on-thumb-color-contrast: var(--osano-toggle-on-thumb-color-contrast, #617a59);
    --osano-info-dialog-toggle-on-track-color-hover: var(--osano-info-dialog-toggle-on-track-color-contrast, var(--osano-toggle-on-track-color-contrast));
    --osano-info-dialog-toggle-on-thumb-color-hover: var(--osano-info-dialog-toggle-on-thumb-color-contrast, var(--osano-toggle-on-thumb-color-contrast));
    --osano-info-dialog-toggle-on-track-color-focus: var(--osano-info-dialog-toggle-on-thumb-color-hover, var(--osano-info-dialog-toggle-on-thumb-color-contrast));
    --osano-info-dialog-toggle-on-thumb-color-focus: var(--osano-info-dialog-toggle-on-track-color-hover, var(--osano-info-dialog-toggle-on-track-color-contrast));
    --osano-info-dialog-toggle-on-track-color-disabled: var(--osano-toggle-on-track-color-disabled, #008d4f);
    --osano-info-dialog-toggle-on-thumb-color-disabled: var(--osano-toggle-on-thumb-color-disabled, #354e2d);
    --osano-info-dialog-link-color-contrast: var(--osano-link-color-contrast, #23b97b);
    --primary-font: "proxima-nova",
    Helvetica,
    sans-serif;
    --primary: #000;
    --charcoal: #242424;
    --mine: #3b3b3b;
    --chicago: #636363;
    --dawn: #a3a3a3;
    --alto: #ccc;
    --mercury: #e1e1e1;
    --smoke: #f2f2f2;
    --white: #fff;
    --highlight-light: #f1e8dd;
    --highlight-medium: #ceb18f;
    --highlight-dark: #826646;
    --alert-light: #fdecea;
    --alert-medium: #b00020;
    --alert-dark: #740031;
    --success-light: #d8e1d5;
    --success-medium: #758e6d;
    --success-dark: #3c4b37;
    --accent-light: #d7ddeb;
    --accent-medium: #7183b0;
    --accent-dark: #384669;
    --sand: #e0d7d1;
    --spacing-0: 0;
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-m-sm: 12px;
    --spacing-md: 16px;
    --spacing-m-lg: 20px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
    --spacing-2xl: 40px;
    --spacing-3xl: 48px;
    --spacing-4xl: 56px;
    --spacing-5xl: 64px;
    --spacing-6xl: 72px;
    --spacing-7xl: 80px;
    --spacing-8xl: 96px;
    --spacing-9xl: 120px;
    --shadow-level-1: 0 2px 6px 0 rgb(0 0 0/.06),
    0 4px 12px 0 rgb(35 41 54/.08);
    --shadow-level-2: 0 1px 4px 0 rgb(0 0 0/.06),
    0 8px 16px 0 rgb(35 41 54/.08);
    --shadow-level-3: 0 4px 8px 0 rgb(0 0 0/.06),
    0 12px 32px 0 rgb(35 41 54/.14);
    --shadow-level-4: 0 4px 16px 0 rgb(0 0 0/.06),
    0 16px 64px 0 rgb(35 41 54/.2);
    --app-only-sale-modal-bg-color: #dbf482;
    --swiper-theme-color: #007aff;
    --sign-in-modal-close-icon-color: #000000;
    box-sizing: inherit;
    margin: 0;
    position: relative;
    color: var(--primary);
    background-color: var(--white);
    font-family: var(--primary-font);
    -webkit-text-size-adjust: 100%;
    margin-top: 0 !important;
    -webkit-font-smoothing: antialiased;